version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: docker/Dockerfile.backend
    container_name: budget-tracker-api
    ports:
      - "5001:5000"
    volumes:
      - /Users/victor.davidescu/Projects/MyFinance/data:/app/data
    environment:
      - NODE_ENV=production
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: docker/Dockerfile.frontend
    container_name: budget-tracker-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: unless-stopped
